POSTGRES_DB=nexolab
POSTGRES_USER=nexolab
POSTGRES_PASSWORD=change-me
MQTT_TOPIC=nexolab/telemetry
MQTT_CLIENT_ID=nexolab-telemetry-ingestion
API_MAX_PAGE_SIZE=1000
HISTORY_MAX_RANGE_DAYS=31
WEBSOCKET_CLIENT_QUEUE_MAXSIZE=256
WEBSOCKET_HEARTBEAT_SECONDS=20
WEBSOCKET_SEND_TIMEOUT_SECONDS=5
WEBSOCKET_RESUME_LIMIT=1000
